<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="formObj">
                <ng-container *ngIf="formObj.id && !show">Edit</ng-container>
                <ng-container *ngIf="formObj.id && show">View</ng-container>
                <ng-container *ngIf="!formObj.id">Create</ng-container>
                {{title}}
            </ng-container>
        </div>
    </div>
    <div
            class="overlay overlay-block cursor-default modal-body"
            style="min-height: 404px"
    >
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="formObj">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label class="form-label">Enter Name</label>
                        <input
                                type="text"
                                class="form-control form-control-lg form-control-solid"
                                name="name"
                                placeholder="Name"
                                autocomplete="off"
                                [class.is-invalid]="isControlInvalid('name')"
                                [class.is-valid]="isControlValid('name')"
                                [readOnly]="show"
                                formControlName="name"
                        />
                        <div class="valid-feedback" *ngIf="isControlValid('name')">
                            Name was entered correct
                        </div>
                        <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'name')"
                        >
                            Name is required
                        </div>
                        <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('minlength', 'name')"
                        >
                            Name should have at least 3 symbols
                        </div>
                        <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('maxlength', 'name')"
                        >
                            Name should have maximum 100 symbols
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer" *ngIf="!show">
        <button
                type="button"
                class="btn btn-light btn-elevate mr-2"
                (click)="modal.dismiss()"
        >
            Cancel
        </button>
        <ng-container *ngIf="formObj">
            <button
                    type="submit"
                    class="btn btn-primary btn-elevate"
                    (click)="save()"
                    [disabled]="formGroup.invalid"
            >
                Save
            </button>
        </ng-container>
    </div>
</div>
